:root {
  --primary-color: blue;
  --secondary-color: orange;
  --text-color-normal: black;
  --base-color-white: white;
  --background-color: gray;
  --box-shadow: rgba(0, 0, 0, 0.349) 0 1px 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: var(--text-color-normal);
}
header {
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  padding: 10px 20px;
}
.logo-menu {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  padding: 20px;
  img {
    width: 25px;
    height: 25px;
  }
}
.header-button {
}
.btn-filled {
  background-color: var(--primary-color);
  color: var(--base-color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
.btn-filled:hover {
  background-color: var(--secondary-color);
}
.btn-outline {
  background-color: var(--base-color-white);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: 0.3s ease;
}
.btn-outline:hover {
  background-color: var(--secondary-color);
  color: var(--base-color-white);
}
nav {
  align-self: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}
.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customize {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.supporting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.left-side {
  width: 50%;
  margin: 0 10px;
  h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
  p {
    font-size: 1.2rem;
    margin: 24px 0;
  }
  button {
    background-color: var(--primary-color);
    color: var(--base-color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  button:hover {
    background-color: var(--secondary-color);
  }
}
.right-site {
  width: 50%;
  margin: 0 10px;
  img {
    width: 100%;
  }
}
.sup-left-side {
  width: 50%;
  img {
    width: 100%;
  }
}
.sup-right-site {
  width: 50%;
  h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
  p {
    font-size: 1.2rem;
    margin: 24px 0;
  }
  button {
    background-color: var(--primary-color);
    color: var(--base-color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  button:hover {
    background-color: var(--secondary-color);
  }
}
.solution {
  margin-top: 50px;
  margin-bottom: 30px;
}
.solution-heading {
  text-align: center;
  margin-bottom: 24px;
  p {
    font-size: 1.2rem;
    margin: 24px 0;
  }
}
h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 24px;
}
.solution-content {
  display: flex;
  justify-content: space-between;
  .item {
    width: 32%;
  }
}
.item {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px;
}
.discover-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
footer {
  background-color: var(--primary-color);
  color: var(--base-color-white);
  padding: 20px 0;
}
.footer-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer-left {
  h3 {
    color: var(--secondary-color);
    margin-bottom: 20px;
  }
}
.footer-right {
  display: flex;
  gap: 40px;
  ul {
    list-style: none;
    li {
      margin-bottom: 4px;
    }
    a {
      text-decoration: none;
      color: var(--base-color-white);
      transition: 0.3s ease;
    }
    a:hover {
      color: var(--secondary-color);
    }
  }
}
.footer-item {
  h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}
.full-screen-menu {
  display: none;
}
.hamburger-icon {
  display: none;
} /* เมนูเต็มจอ */
.full-screen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* พื้นหลังสีดำโปร่งแสง */
  color: white;
  text-align: center;
  padding-top: 50px;
  z-index: 999;
}

.full-screen-menu ul {
  list-style: none;
  padding-top: 50px;
}

.full-screen-menu ul li {
  margin: 20px 0;
}

.full-screen-menu ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.full-screen-menu ul li a:hover {
  color: var(--secondary-color);
}

/* ปุ่มปิดเมนู */
.close-btn {
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hamburger-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  nav {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
  .customize {
    flex-direction: column;
  }
  .supporting {
    flex-direction: column;
  }
  .left-side,
  .right-site {
    width: 100%;
  }
  .sup-left-side,
  .sup-right-site {
    width: 100%;
  }
  .solution-content {
    flex-direction: column;
    .item {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .discover-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-container {
    flex-direction: column;
    padding: 20px;
  }
  .footer-left {
    margin-bottom: 10px;
  }
  .footer-right {
    flex-direction: column;
  }
  .header-button {
    display: none;
  }
  header {
    margin: 10px 10px;
  }
}
